<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start" (click)="backArrow()">
      <ion-icon mode="md" slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: cente;margin-left: 0%">
      CHANGE PASSWORD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" class="logo">
    <img src="../assets/img/defualtImg.jpg" style="height:135px;width:134px;margin-top:5%" />
  </div>
  <div style="width: 92%;margin-left:4%;height:auto;background-color:#A0D951;padding: 4%;border-radius: 15px;">
    <form [formGroup]="todo" (ngSubmit)="changePassword()">
      <ion-item lines="none" color='primary'>
        <ion-label style="font-size:20px;margin-bottom:5px;font-weight:bold;color: white" position="stacked">New
          Password
        </ion-label>
        <ion-input class="input" type="password" formControlName="newPassword" required clear-input></ion-input>
      </ion-item>
      <ion-item lines="none" color='primary' *ngIf="todo.get('newPassword').errors && todo.get('newPassword').dirty">
        <p style="color:  red;" ion-text *ngIf="todo.get('newPassword').hasError('required')">Password required.</p>
        <p style="color:  red;" ion-text *ngIf="todo.get('newPassword').hasError('maxlength')">Password shouldn't be
          more than 20 chars.</p>
        <p style="color:  red;" ion-text *ngIf="todo.get('newPassword').hasError('minlength')">Password should be
          alteast
          6 chars.</p>
      </ion-item>
      <ion-item lines="none" color='primary'>
        <ion-label style="font-size:20px;margin-bottom:5px;font-weight:bold;color: white" position="stacked">Confirm
          Password
        </ion-label>
        <ion-input class="input" type="password" formControlName="confirmPassword" clear-input></ion-input>
      </ion-item>
      <ion-item lines="none" color='primary'
        *ngIf="todo.get('confirmPassword').errors && todo.get('confirmPassword').dirty">
        <p style="color:  red;" ion-text *ngIf="todo.get('confirmPassword').hasError('required')">Password required.</p>
        <p style="color:  red;" ion-text *ngIf="todo.get('confirmPassword').hasError('maxlength')">Password shouldn't be
          more than 20 chars.</p>
        <p style="color:  red;" ion-text *ngIf="todo.get('confirmPassword').hasError('minlength')">Password should be
          alteast
          6 chars.</p>
      </ion-item>
      <button ion-button class="btnSubmit" block color="primary" type="submit">Change
        Password</button>
    </form>
    <div style="height: 5%"></div>
  </div>
  <div style="height: 5%"></div>
</ion-content>