.fabBtn {
  height: 30px !important;
}

.grid {
  border: 1px solid #A0D951;
  border-radius: 4px;
  background: white;
  color: #A0D951;
}

.btnSubmit {
  text-align: center;
  height: 45px;
  margin-top: 7%;
}
