<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start" (click)="backArrow()">
      <ion-icon mode="md" slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      FORGOT PASSWORD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="class-bg" >
  <div align="center" class="logo-img">
    <img src="../../assets/img/logo.png" style="height:135px;width:134px;margin-top:10%" />
    <p style="font-weight: 300;margin-top:0%;color:#FFFFFF">Barbell Nutrition</p>
  </div>
  <form [formGroup]="todo" (ngSubmit)="forgetPassword()" no-lines novalidate>
    <div class="inputs1">
      <ion-item no-lines class="inputsBox">
        <ion-label>
          <ion-icon name="lock" style="color:  black;"></ion-icon>
        </ion-label>
        <ion-input no-lines type="email" formControlName="email" placeholder="Email" clear-input></ion-input>
      </ion-item>
      <ion-item no-lines class="inputsBoxValidation" *ngIf="todo.get('email').errors && todo.get('email').dirty">
        <p style="color:red;" ion-text *ngIf="todo.get('email').hasError('required')">Email Required</p>
        <p style="color:red;" *ngIf="todo.get('email').hasError('pattern')">Email format not valid.
        </p>
      </ion-item>
    </div>
    <ion-button class="btnSubmit" block color="primary" type="submit" [disabled]="!todo.valid">
      SENT
    </ion-button>
  </form>
</ion-content>